body{
    margin: 0;
    padding: 0;
}

.container{
    width: auto;
    margin: auto;
}

.header{
    background: #15311a;
    background-image: url(../images/slider1.jpg);
    background-size: cover;
    background-blend-mode: overlay;
    height: 600px;
}

.header .navbar{
    padding-top: 60px;
    overflow: hidden;
}

.header .navbar h2{
    color: #ffffff;
    padding-left: 80px;
    display: inline-block;
}

.header .navbar i{
    color: #bec8c8;
    margin-left: 50px;
}

.header .navbar span{
    color: #ffffff;
    display: inline-block;
    margin-left: 5px;
    font-weight: bold;
}


.header .navbar ul{
    list-style: none;
    overflow: hidden;
    float: right;
    margin-right: 200px
}

.header .navbar ul li{
    float: left;
    padding: 20px;
    font-weight: bold;
}

.header .navbar ul li a{color: #b3bfbf; text-decoration: none}

.header .navbar ul li.active a{color: #ffffff}

.header .navbar ul li a:hover{color: #ffffff}

.header .navbar ul button{
    background-color: #6c8080;
    color: #ffffff;
    padding: 5px;
    font-weight: bold;
    margin-top: 15px;
}

.header .intro{
    color: #ffffff;
    padding-left: 80px;
}

.header .intro h2{
    margin-top: 50px
}

.header .intro p{
    font-size: 20px;
    margin-top: 30px;
}

.header .intro button{
    background-color: #6fb048;
    height: 40px;
    width: 230px;
    font-size: 20px;
    color: #ffffff;
    margin-top: 30px;
}

.features{
    background-color: #ffffff;
    overflow: hidden;
}

.features .above h2{
    text-align: center;
    padding-top: 70px;
    color: #0f5f5c;
    text-transform: capitalize;
}

hr{
    width: 60px;
    border-color: #6fb048;
}

.features .above p{
    text-align: center;
    color: #a4bebd;
    padding-bottom: 70px;
}

.features .middle{padding: 0; margin-bottom: 50px;}

.features .feat{width: 33.33333%; height: 150px}

.features .feat i{margin-left: 185px; color: #6fb048}

.features .feat h3{text-align: center; color: #0f5f5c;}

.features .feat p{text-align: center; color: #8badab}


.features .bottom{display: inline-block; padding-left: 40px;}

.features .bottom .content i{margin-top: 200px; display: inline-block; padding-right: 30px;color: #6fb048}

.features .bottom .content h3{margin-top: 215px; display: inline-block;position: absolute; color: #0f5f5c}

.features .bottom .content p{color: #8badab}


.responsive h2{text-align: center; padding-top: 80px; color: #0f5f5c}

.responsive p{text-align: center; color: #83a7a5}

.responsive img{
    width: 300px;
    padding-top: 30px;
    padding-left: 250px;
}



.fl-left{float: left}