body{
    margin: 0;
    padding: 0;
}

.container{
    width: auto;
    margin: auto;
}

.header .slider{
    background-image: url(../images/slider.jpg);
    background-size: cover;
    height: 600px;
}

.header .navbar{
    padding-top: 60px;
    overflow: hidden;
}

.header .navbar h2{
    color: #0fbf53;
    padding-left: 130px;
    display: inline-block;
}

.header .navbar span{
    color: #054113;
    margin-left: 50px;
}

.header .navbar p{
    color: #054113;
    display: inline-block;
    margin-left: 5px;
    font-weight: bold;
}


.header .navbar ul{
    list-style: none;
    overflow: hidden;
    float: right;
    /*padding-left: 0;*/
}

.header .navbar ul li{
    float: left;
    padding: 20px;
}

.header .navbar ul li a{color: #054113}

.header .navbar ul li.active a{color: #054113}

.header .navbar ul li a:hover{color: #0fbf53}

.header .navbar ul li button{
    background-color: #6b7f7f;
    border-radius: 100px;
    padding: 5px; 
}






